In [1]:
# Please review the README.MD file from the downloaded githib folder first thank you
#dont forget to change the password...I think it will need to be set to your local computers DB password

import mysql.connector as connector

In [3]:
connection = connector.connect(user="superadmin",password="superadmin1318",host='localhost',database='littlelemondb')

In [9]:
# Task 2 showing the tables in the DB
cursor = connection.cursor()
cursor.execute("""show tables""")
result = cursor.fetchall()

print(cursor.column_names)
for x in result:
    print(x)

('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('menu',)
('morethan2orders',)
('orderdeliverystatus',)
('orders',)
('ordersabove150',)
('ordersview',)
('staff',)

In [16]:
# Task 3 Join query to get customer info for orders placed
# that are more than $60
# added a nested query to remove duplicates if the issue arises 

cursor.execute("""
select Name as FullName, Address, PhoneNumber
from Customers where Name = 
any(select c.Name
from Customers as c
inner join Bookings as b on b.CustomerID = c.CustomerID
inner join Orders as o on o.BookingID = b.BookingID
where o.TotalCost >60)
""")

result = cursor.fetchall()

print(cursor.column_names)
for x in result:
    print(x)

('FullName', 'Address', 'PhoneNumber')
('John Doe', '123 Main Street', '555-1234')
('Jane Smith', '456 Elm Avenue', '555-5678')
('Sara Lee', '987 Maple Street', '555-2345')
('Michael Davis', '111 Birch Avenue', '555-6789')
('Emily White', '222 Spruce Lane', '555-0123')
('James Miller', '333 Oak Road', '555-4567')
('Olivia Taylor', '444 Elm Street', '555-8901')
('Ava Garcia', '666 Cedar Lane', '555-7890')
('Sophia Robinson', '888 Birch Drive', '555-6789')
('Ethan Hall', '222 Elm Lane', '555-8901')
('Abigail Wright', '333 Pine Drive', '555-3456')